---
import { Picture } from 'astro:assets';
import Base from '@layouts/Base.astro';
import cover_image from '@assets/cover.jpg';
import data from '@data/profiles.json';
const rick = data.rick;
const ellen = data.ellen;
const eva = data.eva;
const anna = data.anna;
const clara = data.clara;
const robert = data.robert;
---
<Base>
  <article class="container mx-auto max-w-prose">
    <Picture src={cover_image} alt="Wehrle Family Photo" class="max-w-full h-auto rounded-lg" priority />
    <section class="m-4">
      Hello and welcome to the Wehrle Family website.
      <a href={rick?.path} class="text-blue-500 hover:underline">{rick?.name}</a> and <a href={ellen?.path} class="text-blue-500 hover:underline">{ellen?.name}</a> Wehrle are the proud parents of <a href={eva?.path} class="text-blue-500 hover:underline">{eva?.name}</a>, <a href={anna?.path} class="text-blue-500 hover:underline">{anna?.name}</a>, <a href={clara?.path} class="text-blue-500 hover:underline">{clara?.name}</a>, and <a href={robert?.path} class="text-blue-500 hover:underline">{robert?.name}</a>.
      We live in the beautiful <a href="https://www.zionsville-in.gov/" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">town of Zionsville, Indiana</a>.
    </section>
  </article>
</Base>
